<section><!--div utility-->
    <div class="box-title-text">
        <div class="box-title">
            <p>Utility</p>
            <h1>A Place For Everything</h1>
            <div class="div-flex-button">
                <button class="btn-border-black">Buy Now</button>
                <button class="btn-border-transparent">Order Now</button>
            </div>
        </div>
        <p class="box-text">Model Y provides maximum versatility—able to carry 7 passengers and their cargo. Each second row seat folds flat independently, creating flexible storage for skis, furniture, luggage and more. The liftgate opens to a low trunk floor that makes loading and unloading easy and quick. Chat with a Tesla Advisor to learn more about Model Y or schedule a Test Drive today.</p>
    </div>
    <div  class="video-utility">
        <div id="display-car"></div>
    </div>
    <div class="box-navigation">
        <div class="navigation">
            <label for="option-1" class="option"></label>
            <label for="option-2" class="option"></label>
            <div style="display: none;">
                <input type="radio" name="input-navigation-manual" id="option-1">
                <input type="radio" name="input-navigation-manual" id="option-2">
            </div>
        </div>
        <div id="box-text-navigation">
            <p>Room for up to seven with optional third row</p>
        </div>
        <div class="box-text-navigation">
            <p>Versatile seating and storage for cargo and passengers</p>
        </div>
    </div>
</section>