.div-flex{
    display: flex;
}
.title-button-box{/*div order*/
    height: 50vh;
    width: 35.73%;
    padding: 16vh 5vh;
}
.title-button-box h1{
    font-size: 28px;
    padding-bottom: 3vh;
    color: #171A20;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.image-order{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    height: 283px;
    min-width: 300px;
}
.image-order-model-3{
    background-image: url("../images/imgs-order/order-model-3.jfif");
}
.image-order-model-s{
    background-image: url("../images/imgs-order/order-model-s.jfif");
}
.image-order-model-x{
    background-image: url("../images/imgs-order/order-model-x.jfif");
}
.image-order-model-y{
    background-image: url("../images/imgs-order/order-model-y.jfif");
}
footer{/*div footer*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}
.list-footer{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1vw;
    color: #171A20;
    font-size: 13px;
    letter-spacing: 0.6px;
    color: #5C5E62;
    margin: 10vh;
}
.ancora-footer{
    text-decoration: underline;
}
footer p{
    width: 46%;
    font-size: 0.8rem;
    margin-bottom: 5vh;
    color: #5C5E62;
}

@media (max-width: 1200px){

    .div-flex{
        flex-direction: column;
        align-items: center;
    }
    footer p{
        width: 100%;
    }
    .title-button-box, .order-image{
        width: 90%;
        margin: 0 auto;
    }
}
@media (max-width:768px){
    
    .box-title-text{
        flex-direction: column;
    }

    .car-attributes-box{
        width: 100%;
    }
    .image-order-model-s{
        background-image: url("../images/imgs-order/Model-S-Order-Hero-Desktop-Mobile-LHD.avif");
    }
    .image-order-model-3{
        background-image: url("../images/imgs-order/order-model-3.jfif");
    }
    .image-order-model-y{
        background-image: url("../images/imgs-order/Model-Y-Order-Hero-Desktop-Mobile-Global.avif");
    }
}
