<section id="section-9">
    <div class="div-flex" ><!--div order-->
        <div class="title-button-box">
            <h1>{{title}}</h1>
            <div class="div-button">
                <button class="btn-border-black">Order Now</button> 
            <button class="btn-border-transparent">View Inventory</button>
            </div>
        </div>
        <div class="image-order" [class]="secondaryClass"></div>
    </div>
    <footer style="text-align: center;">
        <p>
            Certain high data usage vehicle features require at least Standard Connectivity, including maps, navigation and voice commands. Access to features that use cellular data and third-party licenses are subject to change. <a href="" class="ancora-footer">Learn more about Standard Connectivity and any limitations.</a>
        </p>
        <ul class="list-footer">
            <li>
                <a href="">Tesla © 2022</a>
            </li>
            <li>
                <a href="">Privacy & Legal</a>
            </li>
            <li>
                <a href="">Vehicle Recalls</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
            <li>
                <a href="">Careers</a>
            </li>
            <li>
                <a href="">Engage</a>
            </li>
            <li>
                <a href="">Locations</a>
            </li>
        </ul>
    </footer>
</section>