<section [ngStyle]="{ 'background-color': 'black' }">
    <div class="car-attributes car-attributes-1">
        <div class="car-attributes-image-1 car-attributes-image"></div>
        <div class="car-attributes-text">
            <p>Stay Connected</p>
            <p>Instantly connect with multi-device Bluetooth, or fast charge devices with wireless and 36-watt USB-C charging.</p>
        </div>
    </div>
    <div class="car-attributes car-attributes-2">
        <div class="car-attributes-text">
            <p>Immersive Sound</p>
            <p>A 22-speaker, 960-watt audio system with Active Road Noise Reduction offers immersive listening and studio-grade sound quality.</p>
        </div>
        <video class="car-attributes-video" src="/assets/videos/videos-model-s/car-attribute-2.mp4" loop autoplay></video>
    </div>
    <div class="car-attributes car-attributes-3">
        <div class="car-attributes-image-2 car-attributes-image"></div>
        <div class="car-attributes-text">
            <p>Room for Everything</p>
            <p>With front and rear trunks and fold-flat seats you can fit your bike without taking the wheel off—and your luggage too.</p>
        </div>
    </div>
</section>