<app-hightlight 
    [secondaryClass]="'model-s-image'" 
    [title]="'Model S'" 
    [content]="'Plaid'"
    [attributes]="[
    { title: '396 mi', content: 'Range (EPA est.)' },
    { title: '1.99 s', content: '0-60 mph*' },
    { title: '200 mph', content: 'Top Speed†' },
    { title: '1,020 hp', content: 'Peak Power' }
  ]"
    >
</app-hightlight>
<app-interiorcar></app-interiorcar>
<app-slidevideointeriorcar></app-slidevideointeriorcar>
<app-detailscar></app-detailscar>
<app-commonsection 
  [selectColor]="false"
  [secondaryClass]="'beyond-ludicrous-image-model-s'"
  [subtitle]="'Plaid'"
  [title]="'Beyond Ludicrous'"
  [content]="'Model S Plaid has the quickest acceleration of any vehicle in production. Updated battery architecture for all Model S trims enables back-to-back track runs without performance degradation. Chat with a Tesla Advisor to learn more about Model S.'"
  [attributes]="[
    { title: '1,020 hp', content: 'Peak Power' },
    { title: '9.23 s', content: '@155 mph 1/4 mile' },
    { title: '1.99 s', content: '0-60 mph*' }
  ]"
></app-commonsection>
<app-electricpowertrain
[car]="[
{ title: 'Model S', content: 'Dual Motor All-Wheel Drive unlocks more range than any other vehicle in our current lineup, with insane power and maximum control.'},
{ title: 'Model S Plaid', content: 'Maintain 1,000+ horsepower all the way to 200 mph with Tri-Motor All-Wheel Drive, featuring torque vectoring and three independent carbon-sleeved rotors.'},
]"
></app-electricpowertrain>
<app-commonsection 
  [selectColor]="true"
  [secondaryClass]="'designed-for-efficiency-image-model-s'"
  [subtitle]="'Exterior'"
  [title]="'Designed for Efficiency'"
  [content]="'With a drag coefficient of just .208 Cd, the lowest on the planet, Model S is built for speed, endurance and range. Improved aerodynamics and a wider chassis offer more responsive performance so you can take corners quicker and with more confidence.'"
  [attributes]="[
    { title: '', content: '' },
    { title: '', content: '' },
    { title: '', content: '' }
  ]"
></app-commonsection>
<app-detailscarexterior 
  [secondaryClass_image_1]="'car-attributes-image-1'"
  [secondaryClass_image_2]="'car-attributes-image-2'"
  [secondaryClass_image_3]="'car-attributes-image-3'"
></app-detailscarexterior>
<app-videoflexreverse
  [video]="true"
  [pathvideo]="'/assets/videos/videos-flex/range-s.mp4'"
  [div_flex_reverse]="true"
  [secondaryClass]="''"
  [title]="'Go Anywhere'"
  [subtitle]="'Range'"
  [content]="'With up to 405 miles of estimated range and access to the worlds largest and most powerful fast charging network, youll spend less time plugged in and more time on the road. Chat with a Tesla Advisor to learn more about Model S.'"
  [attributes]="[
  { title: '405 mi', content: 'Go anywhere with up to 405 miles of estimated range on a single charge' },
  { title: '15 mi', content: 'Recharge up to 200 miles in 15 minutes at Supercharger locations' },
  { title: '40,000 +', content: 'Superchargers placed along popular routes' }
  ]"
></app-videoflexreverse>
<app-freedomtotravel></app-freedomtotravel>
<app-videoflexreverse
  [video]="false"
  [div_flex_reverse]="false"
  [secondaryClass]="'image-safety'"
  [title]="'High Impact Protection'"
  [subtitle]="'Safety'"
  [content]="'Model S is built from the ground up as an electric vehicle, with a high-strength architecture and floor-mounted battery pack for incredible occupant protection and low rollover risk. Every new Model S includes Teslas latest active safety features, such as Automatic Emergency Braking, at no extra cost.'"
></app-videoflexreverse>
<app-autopilot
  [content]="'Autopilot enables your car to steer, accelerate and brake automatically within its lane under your active supervision, assisting with the most burdensome parts of driving. With over-the-air software updates, the latest enhancements are available instantly. Chat with a Tesla Advisor to learn more about Model S.'"
></app-autopilot>
<app-cardemo ></app-cardemo>
<app-specs [secondaryClass]="'image-specs-car'" [title]="'Model S'"></app-specs>
<app-order [title]="'Model S'" [secondaryClass]="'image-order-model-s'"></app-order>
