<section class="interior" id="section-7"><!--Interior-->
    <div class="interior-image">
        <div class="box-text-autopilot">
            <div class="text-autopilot">
                <h1>15 inch</h1>
                <p>A touchscreen display designed to improve over time</p>
            </div>
            <div class="text-autopilot">
                <img src="../images/pg-model-3/wi-fi-image.png" alt="">
                <p>Over-the-air software updates introduce new features, functionality and performance</p>
            </div>
            <div class="text-autopilot">
                <img src="../images/pg-model-3/print-car-image.png" alt="">
                <p>An expansive Glass Roof provides more headroom and UV protection</p>
            </div>
        </div>
    </div>
    <div class="box-title-text">
        <div class="box-title">
            <p>Interior</p>
            <h1>Built Around the Driver</h1>
            <div class="div-button">
                <div class="div-learn-more">
                    <button class="btn-learn-more">+</button>
                    <p>Learn More</p>
                </div>
                <button class="btn-border-black">Order Now</button>
            </div>
        </div>
        <p class="box-text">{{content}}</p>
    </div>
</section>