<footer>
    <div class="box-transform-your-roof">
        <h1>Transform Your {{title}}</h1>
        <p>Order now or chat with an Energy Advisor for more information</p>
        <button class="btn-footer-1 btn-footer">Order Now</button>
        <button class="btn-footer-2 btn-footer">Chat with Energy Advisor</button>
        <a href="#" style="text-decoration: underline;">Get Updates</a>
    </div>
    <ul class="list-footer">
        <li>
            <a href="">Tesla © 2022</a>
        </li>
        <li>
            <a href="">Privacy & Legal</a>
        </li>
        <li>
            <a href="">Vehicle Recalls</a>
        </li>
        <li>
            <a href="">Contact</a>
        </li>
        <li>
            <a href="">Careers</a>
        </li>
        <li>
            <a href="">Engage</a>
        </li>
        <li>
            <a href="">Locations</a>
        </li>
    </ul>
</footer>