<section class="div-beyond-ludicrous">
    <div class="autopilot-image">
        <div class="box-text-autopilot">
            <div class="text-autopilot">
                <h1>360°</h1>
                <p class="text-autopilot-block">Rear, side and forward-facing cameras provide maximum visibility</p>
                <p class="text-autopilot-none">Degress of visibility</p>
            </div>
            <div class="text-autopilot">
                <h1>250 m</h1>
                <p class="text-autopilot-block">Powerful visual processing at up to 250 meters of range</p>
                <p class="text-autopilot-none">of Powerful Visual Processing</p>
            </div>
            <div class="text-autopilot">
                <img src="/assets/camera-image.png" alt="">
                <p class="text-autopilot-block">Tesla Vision detects nearby cars, helps prevent potential collisions and assists with parking</p>
                <p class="text-autopilot-none">Tesla Vision</p>
            </div>
        </div>
    </div>
    <div class="box-title-text">
        <div class="box-title">
            <p>Autopilot</p>
            <h1>Future of Driving</h1>
            <div class="div-button">
                <button class="btn-border-black">Order Now</button>
                <button class="btn-border-transparent">View Inventory</button>
            </div>
        </div>
        <p class="box-text">{{content}}</p>
    </div>
</section>