<section [ngStyle]="{ 'background-color': 'black' }">
    <div class="car-attributes car-attributes-4">
        <div class="car-attributes-text">
            <p>Relentless Performance</p>
            <p>Staggered, performance wheels and tires keep the car planted and help transfer maximum power down to the road.</p>
        </div>
        <div class="car-attributes-image" [id]="secondaryClass_image_1"></div>
    </div>
    <div class="car-attributes car-attributes-5">
        <div class="car-attributes-image-5 car-attributes-image" [id]="secondaryClass_image_2"></div>
        <div class="car-attributes-text">
            <p>Optimized Aerodynamics</p>
            <p>Attention to detail on all exterior surfaces makes Model S the most aerodynamic production car on Earth.</p>
        </div>
    </div>
    <div class="car-attributes car-attributes-6">
        <div class="car-attributes-text">
            <p>Refined Styling</p>
            <p>An iconic silhouette meets refreshed, elegant proportions.</p>
        </div>
        <div class="car-attributes-image-6 car-attributes-image" [id]="secondaryClass_image_3"></div>
    </div>
</section>