<app-hightlight 
    [secondaryClass]="'model-x-image'" 
    [title]="'Model X'" 
    [content]="'Plaid'"
    [attributes]="[
    { title: '333 mi', content: 'Range (EPA est.)'},
    { title: '2.5 s', content: '0-60 mph*'},
    { title: '9.9 s', content: '1/4 Mile'},
    { title: '1,020 hp', content: 'Peak Power'}
    ]"
></app-hightlight><!--Model X-->
<app-interiorcar></app-interiorcar><!--Interior do carro-->
<app-slidevideointeriorcar></app-slidevideointeriorcar><!--Slide de videos do interior do carro-->
<app-detailscar></app-detailscar><!--Detalhes do carro-->
<app-commonsection 
  [secondaryClass]="'beyond-ludicrous-image-model-x'"
  [subtitle]="'Plaid'"
  [title]="'Beyond Ludicrous'"
  [content]="'Model X Plaid has the quickest acceleration of any vehicle in production. Updated battery architecture for all Model X trims enables back-to-back track runs without performance degradation. Chat with a Tesla Advisor to learn more about Model X.'"
  [attributes]="[
    { title: '1,020 hp', content: 'Peak Power' },
    { title: '9.23 s', content: '@155 mph 1/4 mile' },
    { title: '1.99 s', content: '0-60 mph*' }
  ]"
></app-commonsection><!--Beyond ludicrous-->
<app-electricpowertrain
[car]="[
{ title: 'Model X', content: 'Dual Motor All-Wheel Drive unlocks more range than any other vehicle in our current lineup, with insane power and maximum control.'},
{ title: 'Model X Plaid', content: 'Maintain 1,000+ horsepower all the way to 200 mph with Tri-Motor All-Wheel Drive, featuring torque vectoring and three independent carbon-sleeved rotors.'},
]"
></app-electricpowertrain><!--All Wheel Drive-->
<app-videoflexreverse
  [video]="false"
  [div_flex_reverse]="false"
  [secondaryClass]="'utility-image'"
  [title]="'Even More Capable'"
  [subtitle]="'Utility'"
  [content]="'With ample storage and 5,000 lbs of towing capacity, Model X is built for maximum utility. Front doors open and close automatically, Falcon Wing rear doors allow for easier loading and a trailer hitch comes standard, so you can bring your gear with you wherever you go.'"
  [attributes]="[
  { title: '92 ft³', content: 'Up to 92 ft³ of storage' },
  { title: '5,000 lbs', content: 'Tow up to 5,000 lbs' },
  { title: 'Falcon Wing Doors', content: '' }
  ]"

></app-videoflexreverse><!--Utility-->
<app-commonsection 
  [selectColor]="true"
  [secondaryClass]="'designed-for-efficiency-image-model-x'"
  [subtitle]="'Exterior'"
  [title]="'Designed for Efficiency'"
  [content]="'With a drag coefficient of just .208 Cd, the lowest on the planet, Model X is built for speed, endurance and range. Improved aerodynamics and a wider chassis offer more responsive performance so you can take corners quicker and with more confidence.'"
  [attributes]="[
    { title: '', content: '' },
    { title: '', content: '' },
    { title: '', content: '' }
  ]"
></app-commonsection><!--designed for efficiency-->
<app-detailscarexterior
  [secondaryClass_image_1]="'car-attributes-image-4'"
  [secondaryClass_image_2]="'car-attributes-image-5'"
  [secondaryClass_image_3]="'car-attributes-image-6'"
></app-detailscarexterior><!--Detalhes do exterior do carro-->
<app-videoflexreverse
  [video]="false"
  [div_flex_reverse]="true"
  [secondaryClass]="'range-model-x'"
  [title]="'Go Anywhere'"
  [subtitle]="'Range'"
  [content]="'With up to 405 miles of estimated range and access to the worlds largest and most powerful fast charging network, youll spend less time plugged in and more time on the road. Chat with a Tesla Advisor to learn more about Model S.'"
  [attributes]="[
  { title: '405 mi', content: 'Go anywhere with up to 405 miles of estimated range on a single charge' },
  { title: '15 min', content: 'Recharge up to 200 miles in 15 minutes at Supercharger locations' },
  { title: '40,000 +', content: 'Superchargers placed along popular routes' }
  ]"
></app-videoflexreverse><!--Range-->
<app-freedomtotravel></app-freedomtotravel><!--Freedom of Travel-->
<app-videoflexreverse
  [video]="false"
  [div_flex_reverse]="false"
  [secondaryClass]="'image-safety'"
  [title]="'High Impact Protection'"
  [subtitle]="'Safety'"
  [content]="'Model S is built from the ground up as an electric vehicle, with a high-strength architecture and floor-mounted battery pack for incredible occupant protection and low rollover risk. Every new Model S includes Teslas latest active safety features, such as Automatic Emergency Braking, at no extra cost.'"
  [attributes]="[
  { title: '', content: '' },
  { title: '', content: '' },
  { title: '', content: '' }
  ]"
></app-videoflexreverse><!--Safety-->
<app-autopilot
  [content]="'Autopilot enables your car to steer, accelerate and brake automatically within its lane under your active supervision, assisting with the most burdensome parts of driving. With over-the-air software updates, the latest enhancements are available instantly. Chat with a Tesla Advisor to learn more about Model X.'"
></app-autopilot><!--Autopilot-->
<app-cardemo></app-cardemo><!--Slide de videos de demonstração-->
<app-specs 
  [secondaryClass]="'image-specs-car'"
  [title]="'Model X'"
></app-specs><!--Specs-->
<app-order 
  [title]="'Model X'" 
  [secondaryClass]="'image-order-model-x'"
></app-order><!--Order-->






