<app-hightlight 
    [secondaryClass]="'solar-roof-image'" 
    [title]="'Solar Roof'" 
    [content]="'Schedule a Virtual Consultation'"
    [attributes]="[
    { title: 'Beautiful', content: 'Solar'},
    { title: '25-Year', content: 'Warranty'},
    { title: '24/7', content: 'Outage'}
    ]"
></app-hightlight><!--Solar Roof-->
<app-commonsection 
  [selectColor]="false"
  [secondaryClass]="'design-image'"
  [subtitle]="'Design'"
  [title]="'Complement Your Homes Aesthetic'"
  [content]="'Install Solar Roof and power your home with a fully integrated solar and energy storage system. The glass solar tiles and steel roofing tiles look great up close and from the street, complementing your homes natural styling. Schedule a virtual consultation with an Energy Advisor to learn more.'"
></app-commonsection><!--Design-->
<app-videoflexreverse
  [div_flex_reverse]="false"
  [secondaryClass]="'energy-storage-image'"
  [title]="'Protection Against Outages'"
  [subtitle]="'Energy Storage'"
  [content]="'Powerwall is a compact home battery that is bundled with Solar Roof, providing you with 24/7 energy security. It stores the energy you produce with Solar Roof so you can power your home anytime—at night or during an outage.'"
></app-videoflexreverse><!--Energy Storage-->
<app-videoflexreverse
  [video]="true"
  [pathvideo]="'/assets/videos/videos-flex/durability.webm'"
  [div_flex_reverse]="true"
  [secondaryClass]="''"
  [title]="'Take on the Elements'"
  [subtitle]="'Durability'"
  [content]="'Solar Roof is comprised of both glass solar tiles and steel roofing tiles. Glass solar tiles produce energy, while architectural-grade steel tiles add longevity and corrosion resistance to your roof. Both are durable, strong and engineered for all-weather protection. With a 25-year warranty, Solar Roof will continue to produce clean energy and protect your home for decades to come.'"
></app-videoflexreverse><!--Durability video-->
<app-designinstallationpowervideo></app-designinstallationpowervideo><!--Order-->
<app-videoflexreverse
  [video]="false"
  [div_flex_reverse]="false"
  [secondaryClass]="'efficiency-image'"
  [title]="'Maximum Solar Production'"
  [subtitle]="'Efficiency'"
  [content]="'Tesla Solar panels are designed to be highly efficient, delivering maximum solar production year-round, even on roofs with complicated angles. Powered by Tesla Solar Inverter, your fully integrated system is safe and reliable.'"
></app-videoflexreverse><!--Efficience-->
<app-commonsection 
  [selectColor]="false"
  [secondaryClass]="'experience-image'"
  [subtitle]="'Experience'"
  [title]="'24/7 Monitoring'"
  [content]="'Manage your solar system from anywhere in the world with 24/7 mobile monitoring. Watch your energy in real time or set your preferences to optimize for energy independence.'"
></app-commonsection><!--Experience-->
<app-videoflexreverse
  [div_flex_reverse]="false"
  [secondaryClass]="'value-image'"
  [title]="'Pay Less for Electricity'"
  [subtitle]="'Value'"
  [content]="'Solar Roof helps pay for itself with the energy it produces. As a fully integrated system, Solar Roof can maximize your solar generation and help you take control of your monthly electricity bill.'"
></app-videoflexreverse><!--Value-->
<app-specs 
  [secondaryClass]="'image-specs-solar-roof'" 
  [title]="'Solar Roof'"
></app-specs><!--Specs-->
<app-footerpanels 
  [title]="'Roof'"
></app-footerpanels><!--Order-->