<app-hightlight 
    [secondaryClass]="'model-y-image'" 
    [title]="'Model Y'" 
    [content]="'Plaid'"
    [attributes]="[
    { title: '76 cu ft', content: 'Cargo Space'},
    { title: '330 mi', content: 'Range (EPA est.)'},
    { title: 'AWD', content: 'Dual Motor'},
    { title: '1,020 hp', content: 'Peak Power'}
    ]"
></app-hightlight><!--Model Y main-->
<app-videoflexreverse
  [video]="false"
  [div_flex_reverse]="true"
  [secondaryClass]="'image-safety'"
  [title]="'Designed for Safety'"
  [subtitle]="'Safety'"
  [content]="'Safety is the most important part of every Tesla. We design our vehicles to exceed safety standards. 5-Star Rating Model Y achieved NHTSA 5-star safety ratings in every category and subcategory.Top Safety Pick+ Model Y received the IIHS Top Safety Pick+ award, with top ratings all crashworthiness and front crash prevention categories.'"
  [attributes]="[
  { title: '', content: '' },
  { title: '', content: '' },
  { title: '', content: '' }
  ]"

></app-videoflexreverse><!--Safety-->
<app-utility></app-utility><!--Order-->
<app-commonsection 
  [selectColor]="false"
  [secondaryClass]="'image-all-wheel-drive-y'"
  [subtitle]="'All-Wheel Drive'"
  [title]="'Dual Motor'"
  [content]="'Tesla All-Wheel Drive has two ultra-responsive, independent electric motors that digitally control torque to the front and rear wheels—for far better handling, traction and stability control. Model Y is capable in rain, snow, mud and off-road.'"
  [attributes]="[
    { title: '2', content: 'Independent motors digitally control torque to the front and rear wheels'},
    { title: '3.5 S', content: 'Quickest acceleration—from zero to 60 mph* in as little as 3.5 seconds' },
    { title: 'AWD', content: 'Capable in rain, snow, mud and off-road with superior traction control' }
  ]"
></app-commonsection><!--All Wheel Drive-->
<app-videoflexreverse
  [video]="true"
  [pathvideo]="'/assets/videos/videos-flex/range-y.mp4'"
  [div_flex_reverse]="true"
  [secondaryClass]="''"
  [title]="'Go Anywhere'"
  [subtitle]="'Range'"
  [content]="'Model Y is fully electric, so you never need to visit a gas station again. If you charge overnight at home, you can wake up to a full battery every morning. And when youre on the road, its easy to plug in along the way—at any public station or with the Tesla charging network. We currently have over 40,000 Superchargers worldwide, with six new locations opening every week. Chat with a Tesla Advisor to learn more about Model Y or schedule a Test Drive today.'"
  [attributes]="[
  { title: '405 mi', content: 'Go anywhere with up to 405 miles of estimated range on a single charge' },
  { title: '15 mi', content: 'Recharge up to 200 miles in 15 minutes at Supercharger locations' },
  { title: '40,000 +', content: 'Superchargers placed along popular routes' }
  ]"
></app-videoflexreverse><!--Range-->
<app-autopilot
  [content]="'Autopilot enables your car to steer, accelerate and brake automatically within its lane under your active supervision, assisting with the most burdensome parts of driving. With over-the-air software updates, the latest enhancements are available instantly. Chat with a Tesla Advisor to learn more about Model Y.'"
></app-autopilot><!--Autopilot-->
<app-interior
  [content]="'The inside of Model Y is unlike any other car. You can use your smartphone as a key, and access all driver controls in the central 15-inch touchscreen. The all-glass roof extends from front to back, creating a sense of openness from every seat.'"
></app-interior><!--Interior-->
<app-specs 
  [secondaryClass]="'image-specs-car'" 
  [title]="'Model Y'"
></app-specs><!--Specs-->
<app-order 
  [title]="'Model Y'" 
  [secondaryClass]="'image-order-model-y'"
></app-order><!--Order-->