<div id="box_checkout">
    <div id="content-homepage">
        <div class="title">
            <h1 id="title-h1">{{item[indexItem].title}}</h1>
            <a id="title-a" href="">{{item[indexItem].content}}</a>
        </div>
        <div class="div-button-homepage">
            <a href="https://www.tesla.com/inventory/new/m3?arrangeby=relevance&zip=95113&range=200"         id="link_btn_custom_order"> 
                <button class="btn-custom-order btn-content-main">{{item[indexItem].namebutton1}}</button>
            </a>
            <a href="https://www.tesla.com/model3/design#overview" 
            id="link_btn_existing_inventory">
                <button class="btn-existing-inventory btn-content-main" id="secondary_button">{{item[indexItem].namebutton2}}</button>
            </a>
        </div>
    </div>
    <a href="#section-2" class="down-arrow" id="arrow_homepage"></a>
</div>