<section class="div-specs" id="section-8"><!--div specs-->
    <div class="div-flex">
        <div class="image-specs" [class]="secondaryClass"></div>
        <div class="tables">
            <h1>{{title}}</h1>
            <div class="div-description-specs">
                <div class="table">
                    <button class="btn-plaid">{{title}} plaid</button>
                    <p>Range (EPA est.)</p>
                    <p class="spacing">396 mi</p>
                    <hr>
                    <p>1/4 Mile</p>
                    <p class="spacing">9.23@155 mph trap speed</p>
                    <hr>
                    <p>Peak Power</p>
                    <p class="spacing">1,020 hp</p>
                    <hr>
                    <p>Wheels</p>
                    <p class="spacing">19" or 21"</p>
                    <hr>
                    <p>Cargo</p>
                    <p class="spacing">28 cu ft</p>
                    <hr>
                    <p>Weight</p>
                    <p class="spacing">4,766 lbs</p>
                </div>
                <div class="table">
                    <button class="btn-specs">{{title}}</button>
                    <p>*Acceleration</p>
                    <p class="spacing">1.99 s 0-60 mph with rollout subtracted</p>
                    <hr>
                    <p>†Top Speed</p>
                    <p class="spacing">200 mph when equipped with paid hardware upgrades</p>
                    <hr>
                    <p>Drag Coefficient</p>
                    <p class="spacing">0.208 Cd</p>
                    <hr>
                    <p>Powertrain</p>
                    <p class="spacing">Tri Motor</p>
                    <hr>
                    <p>Supercharging Max</p>
                    <p>250 kW</p>
                </div>
            </div>
        </div>
    </div>
    <div class="div-btn-specs" style="padding: 5vh;">
        <button class="btn-border-white">Compare</button>
    </div>
</section>