.main-div{
    position: relative;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-content{
    height: 440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main-title-box h1{
    text-align: center;
    font-size: 2.62rem;
    font-weight: 500;
    letter-spacing: 2px;
}
.main-title-box p{
    margin-top: 13px;
    font-size: 1rem;
    text-align: center;
}
.car-profile-box{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    gap: 3vh;
    color: white;
    text-align: center;
    flex-wrap: wrap;
}
.car-profile h2{
    font-size: 3.5vh;
}
.bate-papo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 78vh;
    right: 3vh;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px -1px 1px 1px  rgba(0, 0, 0, .2), -1px 1px 1px 1px  rgba(0, 0, 0, .2);
    z-index: 5;
}

#model-s-image{
    background-image: linear-gradient(to top, black 10%, rgba(255, 255, 255, 0) 35% ), url('../images/imgs-main/model-s/model-s-main.jfif');
}
#model-3-image{
    background-image: linear-gradient(to top, black 10%, rgba(255, 255, 255, 0) 35% ), url('../images/imgs-main/model-3/model-3-main.jfif');
}
#model-y-image{
    background-image: linear-gradient(to top, black 10%, rgba(255, 255, 255, 0) 35% ), url('../images/imgs-main/model-y/model-y-main.jfif');
}
#model-x-image{
    background-image: linear-gradient(to top, black 10%, rgba(255, 255, 255, 0) 35% ), url('../images/imgs-main/model-x/model-x-main.jfif');
}
#solar-roof-image{/*Sessão Solar Roof*/
    background-image: linear-gradient(to top, black 10%, rgba(255, 255, 255, 0) 35% ), url('../images/imgs-main/solar-roof/solar-roof-main.webp');
    color: white;
}
#solar-panels-image{/*Sessão solar panels*/
    background-image: url('../images/imgs-main/solar-panels/solar-panels-main.jfif');
}

#chat{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 78vh;
    right: 3vh;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px -1px 1px 1px  rgba(0, 0, 0, .2), -1px 1px 1px 1px  rgba(0, 0, 0, .2);
    z-index: 5;
}

@media (max-width: 612px){

    #model-s-image{/*div main*/
        background-image: linear-gradient(to top, black 10%, rgba(255, 255, 255, 0) 35% ), url('../images/imgs-main/model-s/model-s-mobile.jfif');
    }
    #model-x-image{/*div main*/
        background-image: linear-gradient(to top, black 10%, rgba(255, 255, 255, 0) 35% ), url('../images/imgs-main/model-x/model-x-main-mobile.jfif');
    }
    
}